* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; 
}

header, main {
  width: 100%;
}

header{
  display: flex;
  flex-wrap: wrap;
}

.header_logo {
  width: 30%;
  color: #02b3ef;
  font-size: 6em;
  padding: 0 0 0 0.25em;
}

.header_title {
  width: 70%;
  text-align: right;
  padding: 0 1.25em 0 0;
}

.header_title h1 {
  font-family: "Boogaloo", cursive;
  font-size: 3em;
  line-height: 1.25em;
  color: #02b3ef;
}

.header_title h3 {
  font-size: 1.5em;
  line-height: 1.25em;
  color: #7d97ad;
}

.main_photo {
  width: 100%;
  position: relative;
  /* Photo credit: Bitstrips Inc. - https://www.bitmoji.com/ */
  background-image: url(../img/bitmoji.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 225px;
}

.body_text p{
  line-height: 1.25em;
  margin: 1em 1em 0 1em;
}

.subheader_title{
  font-family: "Boogaloo", cursive;
  font-size: 2.5em;
  line-height: 1.1em;
  margin: 0.25em;
  color: #7d97ad;
}

.featured_work {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  min-height: 200px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em 0;
  cursor: pointer;
}

.toribio{
  /* Photo credit: Jose Toribio */
  background-image: url(../img/toribio.png);
}

.cat{
  /* Photo credit: Von.grzanka - https://commons.wikimedia.org/wiki/File:Felis_catus-cat_on_snow.jpg */
  background-image: url(../img/cat_on_snow.jpg);
}

.wedding{
  /* Photo credit: Marc Hauschildt */
  background-image: url(../img/mmhearts.gif);
}

.description {
  background-color: rgba(45, 60, 73, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 1em 1em 0 1em;
}

.description h5 {
  font-family: "Boogaloo", cursive;
  font-size: 1.75em;
  line-height: 1.1em;
}

.description p {
  line-height: 1.25em;
}